body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.section-title {
	border: 3px solid white;
	width: 250px;
	text-align: center;
	margin: 20px auto;
	padding: 5px 0;
  font-size: 30px;
	clear: both;
  overflow: auto;
	font-family: 'Roboto Mono', monospace;
}
