.projects {
	min-height: 600px;
	li img {
	  width: 200px;
	  height: 200px;
		border-color: 1px solid black;
		transition: width 0.5s, height 0.5s, outline 0.5s, border-radius 0.5s;
	}
	li img:hover {
		width: 220px;
		height: 220px;
		border: 3px solid rgba(255, 255, 255, 0.2);
		border-radius: 10px;
	}
	.projects-list {
		width: 80%;
		margin: 0 auto;
		li {
			width: 47%;
			float: left;
			height: 540px;
			margin: 1% 1% 2% 1%;
			padding: 5px;
			text-align: center;
			border: 2px solid white;
		}
	}
	.project-title, .app-link a, .code-link a {
		text-decoration: none;
		color: white;
		font-family: 'Roboto Mono', monospace;
	}
	.project-name:visited, .app-link a:visited, .code-link a:visited {
		text-decoration: none;
		color: white;
	}
	.project-name:hover, .app-link a:hover, .code-link a:hover {
		color: grey;
	}
	.project-title {
		font-size: 30px;
		img {
			margin: 10px 0;
		}
	}

	.built-with, .app-desc {
		font-size: 20px;
	}


	.app-link, .code-link {
		font-size: 20px;
	}

	.app-link {
		float: left;
		text-align: left;
		margin-left: 10px;
	}

	.code-link {
		float: right;
		text-align: right;
		margin-right: 10px;
	}

	.app-desc {
		margin: 20px 0;
	}
}

.avoid-float-damage {
	width: 90%;
	margin: 0 auto;
	height: 500px;
}

@media (max-width: 1360px) {
	.projects {
		.projects-list {
			width: 1075px;
			margin: 0 auto;
			li {
				width: 505px;
			}
		}
	}
}

@media (max-width: 1090px) {
	.projects {
		clear: both;
		.projects-list {
			width: 95%;
			margin: 0 auto;
			li {
				width: 100%;
				float: none;
				height: 440px;
				margin: 2% 0;
				padding: 10px 0 0 0;
				text-align: center;
				outline: 1px solid white;
			}
		}
		.avoid-float-damage {
			height: 410px;
		}
	}

}

@media (max-width: 750px) {
	.projects {
		.projects-list {
			li {
				min-height: 440px;
			}
			.app-link, .code-link {
				font-size: 15px;
			}
		}
		.project-title {
			font-size: 20px;
		}
		.built-with, .app-desc {
			font-size: 15px;
		}
		.avoid-float-damage {
			height: 420px;
		}
	}
}
