.technologies {
	height: 250px;
	width: 920px;
	margin: 0 auto;
}


.tech-list img {
	height: 150px;
	width: 130px;
}

.tech-list li {
	float: left;
	text-align: center;
	line-height: 1.5;
	margin: 30px 50px 0 50px;
}
