@import 'reset';
@import 'about';
@import 'contact';
@import 'header';
@import 'navigation';
@import 'projects';
@import 'technologies';
@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto+Mono');






body {
  background-color: black;
  color: white;
  font-family: sans-serif;
	// font-family: 'Roboto Mono', monospace;
	// font-family: 'Orbitron', sans-serif;
}

.section-title {
	border: 3px solid white;
	width: 250px;
	text-align: center;
	margin: 0 auto 20px auto;
	padding: 5px 0;
  font-size: 30px;
	clear: both;
	font-family: 'Roboto Mono', monospace;
}


@media (max-width: 1300px) {
	.projects-list li {
		width: 98%;
		float: left;
		height: 400px;
		margin: 2% 1%;
		text-align: center;
		outline: 1px solid white;
	}
}

@media(max-width: 920px) {
	.technologies {
		width: 460px;
	}
	.tech-list li {
		margin: 20px 50px;
	}
	.tech-list ol {
		margin-bottom: 30px;
		clear: both;
	}
}



@media (max-width: 750px) {
	.name-and-title {
	  position: absolute;
	  left: 10px;
	  top: 250px;
	  border: 4px solid white;
	  padding: 10px;
	}

	nav li {
	  font-size: 10px;
	}

	.nav-ol li {
	  padding: 5px 0;
	}
}

@media (max-width: 1000px) {
	.me {
		width: 100px;
		display: block;
		text-align: center;
	}
	.about p {
		margin-left: 110px;
		text-align: left;
	}
}

@media (max-width: 650px) {
	.projects-list li {
		min-height: 460px;
	}
	.app-link, .code-link {
		margin-top: 420px;
		font-size: 15px;
	}
	.project-title {
		font-size: 20px;
	}
	.built-with, .app-desc {
		font-size: 15px;
	}
}

@media (max-width: 850px) {
	.contact {
		height: 300px;
		margin: 0 auto;
	}

	.contact-items {
		width: 600px;
	}

	.contact img {
		width: 100px;
	}

	.contact-item {
		float: left;
		margin: 20px 20px 40px 20px;
	}

	#mail img {
		padding-top: 20px;
	}
}

@media (max-width: 850px) {
	.contact-items {
		width: 600px;
	}
	#linkedin-big {
		margin-left: 50px;
	}
}

@media (max-width: 650px) {
	.contact-items {
		width: 100%;
	}
	.contact-items img {
		width: 50px;
	}
	.contact-item {
		width: 50px;
		float: none;
		margin: 20px auto;
	}
	#linkedin-big {
		margin: 0 auto;
	}
	nav li {
	  margin-right: 10px;
	}
	.contact-item:hover {
		padding: 0 30px;
		border-bottom: 0px solid white;
		border-left: 3px solid white;
		border-right: 3px solid white;
	}
}

@media(max-width: 460px) {
	.technologies {
		width: 230px;
	}
	.nav-ol {
		margin-left: 7px;
	}
	.social-media img {
	  height: 15px;
			padding-top: 2px;
	}
	#mail-small {
		padding-top: 4px;
		width: 20px;
		height: 12px;
	}
}
