
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: black;
  color: white;
  min-height: 2000px;
}

nav {
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  background-color: black;
  z-index: 4;
  height: 20px;
  padding: 2px 0;
}

nav li {
  float: left;
  margin-right: 10px;
  font-size: 16px;
}

.nav-ol li {
  padding: 2px 0;
  margin-bottom: 4px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  border-bottom: 2px solid white;
}

.social-media {
  float: right;
}

.social-media img {
  height: 20px;
}




header {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  height: 600px;
  width: 100%;
}

.name-and-title {
  position: absolute;
  left: 300px;
  top: 250px;
  border: 4px solid white;
  padding: 10px;
}

header h1 {
  font-size: 50px;
}

header h2 {
  font-size: 30px;
}

.about {
  overflow: auto;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  position: relative;
  margin: 0 auto;
  z-index: 3;
  height: 600px;
  outline: 1px solid orange;
}

.projects-list {
	width: 80%;
	margin: 0 auto;
}

.projects li img {
  width: 200px;
  height: 200px;
}

.projects-list li {
	width: 40%;
	float: left;
	height: 400px;
	margin: 2% 5%;
	text-align: center;
	outline: 2px solid white;
}


@media (max-width: 1000px) {
	.projects-list li {
	  outline: 1px solid yellow;
		width: 100%;
		float: left;
		height: 400px;
		margin: 2% 5%;
		text-align: center;
		outline: 2px solid white;
	}
}
